body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #636363 #a2ab58;
    }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}


button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#cartesPokemon {
    display: flex;
    flex-wrap: wrap;
}

.carte {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carte :hover{
    opacity: 0.8;
}

.carte img {
    max-width: 100%;
    border-radius: 5px;
    
}

.carte p {
    margin: 5px 0;
}

footer{
    display: flex;

}

.spotify{
    font-size: 1em;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 15px;
}

.twitch{
    font-size: 1em;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 15px;
}

.youtube{
    font-size: 1em;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 15px;
}